## AI2000- Foundations of Machine Learning
## Assignment 4
### Tanmay Goyal
### AI20BTECH11021

#### Q.1 Non Uniform weights in Linear Regresssion

#### A dataset contains datapoints denoted by $(\vec{x_n}, t_n), n = 1,2,\ldots, N$. Each datapoint is associated with a non- negative weighting factor $g_n > 0$. The error function is given by:

$E(\vec{w}) = \frac{1}{2}\sum_{n=1}^{N}g_n\left(t_n - \vec{w}^T\phi(\vec{x_n})\right)^2$

#### where $\phi(.)$ is any representation of the data.

#### a) Find an expression for $\vec{w}^*$ that minimises the above error function.

Answer: 
We first try to convert everything into matrices.
Consider:

$Y_{N\times 1} = \begin{matrix}
t_1\\
t_2\\
\vdots\\
t_N
\end{matrix}$
$G_{N\times N} = diag(\sqrt{g_1},  \sqrt{g_2}, \ldots , \sqrt{g_N})$
$X_{N\times 1} = \begin{matrix}
\phi(\vec{x_1})\\
\phi(\vec{x_2})\\
\vdots\\
\phi(\vec{x_N})
\end{matrix}$


Then, the error function becomes:

$E(\vec{w}) = \frac{1}{2}\sum_{n=1}^{N}g_n\left(t_n - \vec{w}^T\phi(\vec{x_n})\right)^2 = \frac{1}{2}||GY - GX\vec{w}||^2_2$

where $\vec{w}$ is the weights vector. The optimal solution $\vec{w}^*$ is given by:


$\vec{w}^* = \underset{\vec{w}}{\operatorname{argmin}}E(\vec{w}) = \underset{\vec{w}}{\operatorname{argmin}}\frac{1}{2}||GY - GX\vec{w}||^2_2$

On simplification, $E(\vec{w}) = \frac{1}{2}(GY - GX\vec{w})^T(GY - GX\vec{w}) = \frac{1}{2}(Y^TG^TGY - 2Y^TG^TGX\vec{w} + \vec{w}^TX^TG^TGX\vec{w})$

Taking the gradient of $E(\vec{w})$ wrt $\vec{w}$ and setting it to zero:

$\nabla_{\vec{w}} E(\vec{w}) = 0 \iff \frac{1}{2}(-2Y^TG^TGX + \vec{w}^{*T}X^TG^TGX + \vec{w}^{*T}X^TG^TGX) = 0$

$\implies \vec{w}^{*T}X^TG^TGX = Y^TG^TGX$

Define $A_{N\times N} = G^TG = diag(g_1, g_2, \ldots , g_N)$. Then,

$\implies \vec{w}^{*T}X^TAX = Y^TAX$

$\implies \vec{w}^{*T} = Y^TAX(X^TAX)^\ddagger$ where $M^\ddagger$ represents the pseudo-inverse of $M$.

$\implies \vec{w}^* = (X^TAX)^\ddagger X^TA^TY = (X^TAX)^\ddagger X^TAY$ since $A^T = A$

Thus, the solution is $\vec{w}^* = (X^TAX)^\ddagger X^TAY$

#### b) Give two alternative interpretations of the above weighted sum-of-squares error function in terms of (i) data-dependent noise variance and (ii) replicated data points.

Answer: 

<u>Data dependent Noise Variance</u>

Consider $y'_i = \vec{w}^T\phi(\vec{x_i})$ and $y_i = y_i' + \epsilon_i =  \vec{w}^T\phi(\vec{x_i}) + \epsilon_i$ where $\epsilon_i \sim \mathcal{N}(0,\sigma^2)$

$\implies y_i|x_i \sim \mathcal{N}(\vec{w}^T\phi(x_i), \sigma^2)$

Also, $P(y |\mu ,\sigma^2 ) = \frac{1}{\sqrt{2\pi \sigma^2}}exp\left(\frac{-(y-\mu)^2}{2\sigma^2}\right)$

Let the parametres $\theta = [\vec{x} , \vec{w} , \sigma^2]$. We have to maximise the likelyhood of the parametres $\theta$ to simulate labels $y$, i.e to find 

$\underset{\theta}{\operatorname{argmax}}L(\theta|y) = \underset{\theta}{\operatorname{argmax}}P(y |\theta) = \underset{\vec{w} , \sigma^2}{\operatorname{argmax}}P(y |\vec{x},\vec{w}, \sigma^2)$

 Since all the datapoints are i.i.d, we maximise the product of the probabilities. Also, maximising the likelyhood is equivalent to maximising the log likelyhood and thus,

$ \underset{\vec{w} , \sigma^2}{\operatorname{argmax}}\prod_{i=1}^N P(y_i |\vec{x_i} , \vec{w} , \sigma^2) =  \underset{\vec{w} , \sigma^2}{\operatorname{argmax}}$ $ln \prod_{i=1}^N P(y_i |\vec{x_i} , \vec{w} , \sigma^2)$

$\underset{\theta}{\operatorname{argmax}}L(\theta|y) = \underset{\vec{w} , \sigma^2}{\operatorname{argmax}}$ $ln \left(\prod_{i=1}^N \frac{1}{\sqrt{2\pi \sigma^2}}exp\left(\frac{-(y_i-\vec{w}^T\phi(\vec{x_i}))^2}{2\sigma^2}\right)\right)$

$\underset{\theta}{\operatorname{argmax}}L(\theta|y) = \underset{\vec{w} , \sigma^2}{\operatorname{argmax}} \left[Nln\left(\frac{1}{\sqrt{2\pi \sigma^2}}\right) - \sum_{i=1}^N\frac{(y_i-\vec{w}^T\phi(\vec{x_i}))^2}{2\sigma^2}\right]$

$\underset{\theta}{\operatorname{argmax}}L(\theta|y) = \underset{\vec{w},\sigma^2 }{\operatorname{argmin}} \frac{1}{2\sigma^2}\sum_{i=1}^N{(y_i-\vec{w}^T\phi(\vec{x_i}))^2}$

Thus, maximising the likelyhood of the parameteres $\theta$ to obtain the labels $y$ is equivalent to minimising the sum of squares error.

<u>Replicated Data points</u>

Consider a training point $x_i$ to be repeated $g_i$ times, then we can see the error of the training point $x_i$ will get summed $g_i$ times, resulting in the non uniformly weighted error function given in the question.

#### Q.2 Bayes optimal Classifier

#### Let there be 5 hypothesis $h_1$ to $h_5$ that can guide a robot F, L or R.
| $P(h_i\|D)$ | $P(F\|h_i)$ | $P(L\|h_i)$ | $P(R\|h_i)$ |
|-----------|-----------|-----------|-----------|
| 0.4       | 1         | 0         | 0         |
| 0.2       | 0         | 1         | 0         |
| 0.1       | 0         | 0         | 1         |
| 0.1       | 0         | 1         | 0         |
| 0.2       | 0         | 1         | 0         |

#### Compute the MAP estimate and the Bayes Optimal Estimate.

Answer: 

<u>Bayes Optimal Estimate</u>

Let $X$ be a random variable taking the values in $\{1,2,3\}$ denoting the direction in which the robot moves.
Then,

$X = 1 \implies $ F

$X = 2 \implies$ L

$X = 3 \implies $ R

Then, the probability that the robot moves in the direction represented by $X = j$ is given by

$\sum_{i=1}^5 P(X=j|(h_i|D))\times P(h_i|D)$

$P(X=1) = \sum_{i=1}^5 P(X=1|(h_i|D))P(h_i|D) = 0.4$

$P(X=2) = \sum_{i=1}^5 P(X=2|(h_i|D))P(h_i|D) = 0.2 \times 1 + 0.1 \times 1 + 0.2 \times 1 = 0.5$

$P(X = 3) = \sum_{i=1}^5 P(X=3|(h_i|D))P(h_i|D) = 0.1\times 1 = 0.1$

Since, $P(X = 2)$ is the highest, the direction suggested by the Bayes Optimal Estimate is LEFT direction.

<u>MAP estimate</u>

For the MAP estimate, we find ${\operatorname{argmax}}P(h_i|D)$

Clearly, the maximum of $P((h_i|D))$ is obtained when $h_i = h_1$. When $h_1$ is selected, the only direction the robot can move is in forward direction. Thus, from the MAP estimate, we obtain the most probable direction of the robot to be Forward.

Thus, the MAP estimate and the Bayes Optimal Estimate are not the same.

#### Q.3 VC- Dimension

#### Consider a data set up of data $\in \mathbb{R}$ where the hypothesis space $\mathcal{H}$ is parametrised by $\{p,q\}$ where $x$ is classified as $1$ iff $p<x<q$. Find the VC dimension of $\mathcal{H}$

Answer: 
Consider $\mathcal{H}$ to be the set of hypothesis given by:

$\mathcal{H} = \{h_1(x,p_1,q_1), h_2(x,p_2,q_2) , \ldots\}$

where $h_i(x,p_i,q_i) = \begin{cases}
1 & p_i < x < q_i\\
0 & otherwise
\end{cases}$

We consider all possible cases of 2 datapoints $x_1$ and $x_2$, and let $x_1 < x_2$, which can be assumed because both $x_1$ and $x_2$ are scalars, i.e $x_1 , x_2 \in \mathbb{R}$. The $2^2$ labellings of these 2 points can be realised by each of the hypothesis as:

$x_1 = 0 ; x_2 = 0 \implies x_1 < x_2 < p < q$

$x_1 = 0 ; x_2 = 1 \implies x_1 < p < x_2 < q$

$x_1 = 1 ; x_2 = 1 \implies p < x_1 < x_2 < q$

$x_1 = 1 ; x_2 = 0 \implies p < x_1 < q < x_2$

Thus, by finding suitable $p$ and $q$, any combination of 2 points can be shattered by $\mathcal{H}$.

Consider the case of 3 points, $x_1$, $x_2$ and $x_3$, such that $x_1 < x_2 < x_3$. Consider the labellings of $x_1 = 1 ; x_2 = 0; x_3 = 1$.

$x_1 = 1; x_2 = 0 \implies p < x_1 < q < x_2$

Now, since $x_2 < x_3$, this automatically implies $x_3 > q$, and thus $x_3 = 0$. But, the original labelling of $x_3$ was 1, and thus, this combination of labellings cannot be shattered by $\mathcal{H}$.

Since, there is a combination of 3 points that cannot be shattered by $\mathcal{H}$, the VC- dimension of $\mathcal{H}$ is $2$.

#### 4. Regulariser

#### Given $D$ dimensional data $\vec{x} = [x_1, x_2 , \ldots , x_D]$, consider a linear model of the form:

$y(\vec{x},\vec{w}) = w_0 + \sum_{k=1}^Dw_kx_k$

#### Now, for $N$ such data samples with their corresponding labels $(\vec{x}_i , t_i)$, the sum of squared error(or mean squared error) is given by:

$E(\vec{w}) = \frac{1}{2}\sum_{i=1}^N\left(y(\vec{x}_i , \vec{w})-t_i)\right)^2$

#### Now, suppose Gaussian noise $\epsilon_k \sim \mathcal{N}(0 , \sigma^2)$ is added independently to each of the input variables $x_k$. Find a relation between minimising the sum of squares error averaged over the noisy data, and minimising the standard sum-of-squares error averaged over noise free data with a $\mathcal{L}_2$ weight decay regularisation term, in which the bias parameter $w_0$ is omitted from the regulariser.

Answer: 

Let $\vec{\epsilon}$ be a vector with $D$ components, which gets added to $\vec{x}_k$ as noise. Each of the vector $\vec{\epsilon}$ are independently picked from $\mathcal{N}(0 , \sigma^2)$, and thus:

mean = $\mathbb{E}[\vec{\epsilon}] = 0$ 

covariance = $\mathbb{E}[\vec{\epsilon}\vec{\epsilon}^T] = \sigma^2I_N$

Let us define the vector $\vec{w} = [w_1 , w_2 \ldots , w_D]^T$

The new predicted output $y_{noisy}(\vec{x},\vec{w})$ is given by:

$y_{noisy}(\vec{x},\vec{w}) = w_0 + \vec{w}^T(\vec{x}+ \vec{\epsilon})$

Thus, the expected sum of squared errors averaged over noisy data now becomes:

$\mathbb{E}_\epsilon[E(\vec{w})] = \mathbb{E}_\epsilon\left[\frac{1}{2N}\sum_{i=1}^N\left(y_{noisy}(\vec{x}_i , \vec{w})-t_i)\right)^2\right]$

$\mathbb{E}_\epsilon[E(\vec{w})] = \mathbb{E}_\epsilon\left[\frac{1}{2N}\sum_{i=1}^N\left(w_0 + \vec{w}^T(\vec{x}_i+ \vec{\epsilon}_i)-t_i)\right)^2\right]$

$\mathbb{E}_\epsilon[E(\vec{w})] = \mathbb{E}_\epsilon\left[\frac{1}{2N}\sum_{i=1}^N(w_0 + \vec{w}^T\vec{x}_i - t_i) + \vec{w}^T\vec{\epsilon}_i)^2\right]$

$\mathbb{E}_\epsilon[E(\vec{w})] = \mathbb{E}_\epsilon\left[\frac{1}{2N} \sum_{i=1}^N(w_0 + \vec{w}^T\vec{x}_i - t_i)^2 + (\vec{w}^T\vec{\epsilon}_i)^2 + 2\vec{w}^T\vec{\epsilon}_i(w_0 + \vec{w}^T\vec{x}_i - t_i)\right]$

Using linearity of expectation, this now becomes:

$\mathbb{E}_\epsilon[E(\vec{w})] = \frac{1}{2N} \left[\mathbb{E}_\epsilon[\sum_{i=1}^N(w_0 + \vec{w}^T\vec{x}_i - t_i)^2] + \mathbb{E}_\epsilon[(\vec{w}^T\vec{\epsilon}_i)^2] + \mathbb{E}_\epsilon[2\vec{w}^T\vec{\epsilon}_i(w_0 + \vec{w}^T\vec{x}_i - t_i)]\right]$

$\mathbb{E}_\epsilon[E(\vec{w})] = \frac{1}{2N} \sum_{i=1}^N(w_0 + \vec{w}^T\vec{x}_i - t_i)^2 + \frac{||\vec{w}||^2_2}{2N}\sum_{i=1}^N\mathbb{E}[\vec{\epsilon_i}\vec{\epsilon_i}^T] + \frac{1}{N}(w_0 + \vec{w}^T\vec{x}_i - t_i)\sum_{i=1}^N\vec{w}^T \mathbb{E}_\epsilon[\vec{\epsilon}_i]$

$\mathbb{E}_\epsilon[E(\vec{w})] = \frac{1}{2N} \sum_{i=1}^N(w_0 + \vec{w}^T\vec{x}_i - t_i)^2 + \frac{||\vec{w}||^2_2}{2N}N\sigma^2 +0$

$\mathbb{E}_\epsilon[E(\vec{w})] = \frac{1}{2N} \sum_{i=1}^N(w_0 + \vec{w}^T\vec{x}_i - t_i)^2 + \frac{\sigma^2}{2}||\vec{w}||^2_2$

Now, the sum of squares error of the noise free data with $\mathcal{L}_2$ norm regualriser is given by:

$E(\vec{w}) = \frac{1}{2N}\sum_{i=1}^N (y(\vec{x}_i , \vec{w})-t_i)^2 + \lambda ||\vec{w}||^2_2 $

$E(\vec{w}) = \frac{1}{2N}\sum_{i=1}^N (w_0 + \vec{w}^T\vec{x}_i - t_i)^2 + \lambda ||\vec{w}||^2_2 $

On comparing, we can see that by making the substitution $\lambda = \frac{\sigma^2}{2}$, both the error functions become the same.

Thus, adding noise and adding a regulariser would have the same effect on the problem.

#### Programming

In [200]:
import numpy as np
import pandas as pd
import sklearn
import math
from sklearn import neighbors
from sklearn.ensemble import GradientBoostingRegressor

#### part (a)- Implementing code for Logistic Regression

In [2]:
# logistic regressor 

def train_logistic_regressor(X, y, w , lr):

    # append a column of 1s along with X to account for bias
    X = np.hstack((np.ones((X.shape[0],1)), X))
    
    # calculating linear model values
    f_theta = X @ w
    
    # inserting linear model values into logistic function
    probs = 1 / (1 + np.exp(-f_theta)).reshape((X.shape[0],1))
    
    # calculating the gradients
    gradients = (y-probs).T @ X
    gradients = gradients.T

    
    # calulating new weights
    w += lr * gradients

    # calculating error
    error = 0
    for j in range(len(y)):
        if y[j]==0:
            error += math.log(1 - probs[j])
        else:
            error += math.log(probs[j])
    error *= -1
    
    return probs , w, error

In [3]:
def test_logistic_regressor(X,y,w):
    # append a column of 1s along with X to account for bias
    X = np.hstack((np.ones((X.shape[0],1)), X))

    # calculating linear model values
    f_theta = X @ w
    
    # inserting linear model values into logistic function
    probs = 1 / (1 + np.exp(-f_theta)).reshape((X.shape[0],1))
 
    # making the predictions in y_hat
    y_hat = []
    for j in range(len(probs)):
        if probs[j] >=0.5:
            y_hat.append(1)
        else:
            y_hat.append(0)
    y_hat = np.array(y_hat)
 
    # calculating the accuracy
    accuracy = 0
    for j in range(len(y)):
        if(y[j]==y_hat[j]):
            accuracy+=1
    accuracy /= len(y)
    accuracy *= 100

    # calculating the precision and recall
    TP = FP = TN = FN = 0
    for j in range(len(y)):
        if y[j]==1 and y_hat[j]==1:
            TP+=1
        elif y[j]==0 and y_hat[j]==1:
            FP+=1
        elif y[j]==1 and y_hat[j]==0:
            FN+=1
        else:
            TN +=1
    
    precision = TP/(TP + FP)
    precision *= 100

    recall = TP/(TP + FN)
    recall *= 100

    
    return  accuracy, precision, recall

#### (b) Consider the training and testing sets. We use the linear model $f_\theta(x_1,x_2) = \theta_0 + \theta_1x_1 + \theta_2x_2$, and the logistic regression function $\sigma(f_\theta(x_1 , x_2)) = \frac{1}{1 + e^{-f_\theta(x_1 , x_2)}}$. Consider initial weights $\theta_0 = -1 ,  \theta_1 = 1.5, \theta_2 = 0.5$ and learning rate = $0.1$.

#### (i) What is the logistic model $P(\hat{y}=1|x_1,x_2)$ and the cross entropy function?

Answer: 

$P(\hat{y}=1|x_1,x_2)$ will be given by:

$P(\hat{y}=1|x_1,x_2) = \sigma(f_\theta(x_1 , x_2)) = \frac{1}{1 + e^{-f_\theta(x_1 , x_2)}}$

$\implies f_\theta(x_1,x_2) = \theta_0 + \theta_1x_1 + \theta_2x_2 = ln\left(\frac{P(\hat{y}=1|x_1,x_2)}{1-P(\hat{y}=1|x_1,x_2)}\right)$

The cross entropy funtion $E$ will be given by:

$E = -\left[\sum_{i=1}^N y_i(P(\hat{y}=1|x_1,x_2)) + (1-y_i)(P(\hat{y}=0|x_1,x_2)\right]$

$\implies E = -\left[\sum_{i=1}^N y_i(P(\hat{y}=1|x_1,x_2)) + (1-y_i)(1 -P(\hat{y}=1|x_1,x_2) )\right]$

#### (ii) Use gradient descent to update $\theta_0 , \theta_1 ,\theta_2$ for one iteration. Write down the updated logistic regression model.

In [4]:
X_train = np.array([0.346,0.780, 0.303 , 0.439 , 0.358 , 0.729 , 0.602 , 0.863 , 0.790 , 0.753 , 0.611 , 0.965]).reshape((6,2))
y_train = np.array([0,0,0,1,1,1]).reshape((6,1))
weights = np.array([-1,1.5,0.5]).reshape((3,1))
lr = 0.1

probs, weights, error = train_logistic_regressor(X_train, y_train, weights, lr)



print("*"*75)
print("New model parametres are: ")
print("theta_0 = ", weights[0][0])
print("theta_1 = ", weights[1][0])
print("theta_2 = ", weights[2][0])
print("*"*75)

***************************************************************************
New model parametres are:
theta_0 =  -1.0189975586353857
theta_1 =  1.5321051772436016
theta_2 =  0.5118120174982301
***************************************************************************

#### (iii) At the convergence of gradient descent, make predictions on the test dataset, and report the accuracy, precision and recall.

In [5]:
# converging gradient descent till the error does not decrease

# let error2 be the error of the nth epoch and error 1 be the error of the (n-1)th epoch
#error1 = 0
#error2 = error
#while(error2-error1 < 0.00005):
while(error>0.01):
    probs , weights , error = train_logistic_regressor(X_train, y_train , weights, lr)

In [6]:
# testing on dataset
X_test = np.array([0.959,0.382,0.750,0.306,0.395,0.760,0.823,0.764,0.761,0.874,0.844,0.435]).reshape((6,2))
y_test = np.array([0,0,0,1,1,1]).reshape((6,1))

acc, prec , recall = test_logistic_regressor(X_test, y_test, weights)


print("*"*75)
print("accuracy = ", acc)
print("precision = ",prec)
print("recall = ", recall)
print("*"*75)

***************************************************************************
accuracy =  66.66666666666666
precision =  60.0
recall =  100.0
***************************************************************************

#### Q.6 Kaggle- Taxi Fare Prediction

In [182]:
# reading testing data

test_df = pd.read_csv("test.csv")
test_df.shape

(9914, 7)

In [168]:
# because there are around 10000 rows of testing data, and 55 million rows of training data, 
# we would use only 1000000 rows of training data


df = pd.read_csv("train.csv" , nrows = 1000000)
df.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [169]:
# dropping key column
df.drop(['key'], axis = 'columns' , inplace=True)

In [170]:
# extracting time from pickup_datetime

new = df['pickup_datetime'].str.split(" " , n=2 , expand = True)
df['time'] = new[1]

# drop pickup_datetime column
df.drop(['pickup_datetime'] , axis = 'columns' , inplace = True)
df.head()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,time
0,4.5,-73.844311,40.721319,-73.841610,40.712278,1,17:26:21
1,16.9,-74.016048,40.711303,-73.979268,40.782004,1,16:52:16
2,5.7,-73.982738,40.761270,-73.991242,40.750562,2,00:35:00
3,7.7,-73.987130,40.733143,-73.991567,40.758092,1,04:30:42
4,5.3,-73.968095,40.768008,-73.956655,40.783762,1,07:51:00

In [171]:
# extracting the hours column from time
new = df['time'].str.split(":" , n=2 , expand = True)
df['hours'] = new[0]

# dropping time column
df.drop(['time'] , axis = 'columns' , inplace = True)
df.head()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,hours
0,4.5,-73.844311,40.721319,-73.841610,40.712278,1,17
1,16.9,-74.016048,40.711303,-73.979268,40.782004,1,16
2,5.7,-73.982738,40.761270,-73.991242,40.750562,2,00
3,7.7,-73.987130,40.733143,-73.991567,40.758092,1,04
4,5.3,-73.968095,40.768008,-73.956655,40.783762,1,07

In [175]:
# converting hours into binary variable
# if the taxi was booked between 20 hrs and 08 hrs then it will be 
# represented by a column 'night charges'
df['hours'].astype(int)
night_charge_hrs = [i for i in range(9)] + [20,21,22,23]
df['night_charges'] = df.apply(lambda row: 1 if row.hours in night_charge_hrs else 0 , axis = 'columns')

In [176]:
df.drop(['hours'] , axis = 'columns' , inplace = True)
df.head()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,night_charges
0,4.5,-73.844311,40.721319,-73.841610,40.712278,1,0
1,16.9,-74.016048,40.711303,-73.979268,40.782004,1,0
2,5.7,-73.982738,40.761270,-73.991242,40.750562,2,0
3,7.7,-73.987130,40.733143,-73.991567,40.758092,1,0
4,5.3,-73.968095,40.768008,-73.956655,40.783762,1,0

In [177]:
# drop rows with negative fare amount
df.drop(df[df['fare_amount']<0].index , inplace = True)

In [178]:
df.head()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,night_charges
0,4.5,-73.844311,40.721319,-73.841610,40.712278,1,0
1,16.9,-74.016048,40.711303,-73.979268,40.782004,1,0
2,5.7,-73.982738,40.761270,-73.991242,40.750562,2,0
3,7.7,-73.987130,40.733143,-73.991567,40.758092,1,0
4,5.3,-73.968095,40.768008,-73.956655,40.783762,1,0

In [183]:
# making night_charges column for test_data

# extracting time from pickup_datetime

new = test_df['pickup_datetime'].str.split(" " , n=2 , expand = True)
test_df['time'] = new[1]

# drop pickup_datetime column
test_df.drop(['pickup_datetime'] , axis = 'columns' , inplace = True)


# extracting the hours column from time
new = test_df['time'].str.split(":" , n=2 , expand = True)
test_df['hours'] = new[0]

# dropping time column
test_df.drop(['time'] , axis = 'columns' , inplace = True)

# converting hours into binary variable
# if the taxi was booked between 20 hrs and 08 hrs then it will be 
# represented by a column 'night charges'
test_df['hours'].astype(int)
night_charge_hrs = [i for i in range(9)] + [20,21,22,23]
test_df['night_charges'] = test_df.apply(lambda row: 1 if row.hours in night_charge_hrs else 0 , axis = 'columns')

# dropping hours column
test_df.drop(['hours'] , axis = 'columns' , inplace = True)

In [184]:
# doing the same pre-processing for testing data
# keeping the keys column for further use

keys = test_df['key']

test_df.drop(['key'], axis = 'columns' , inplace = True)

In [185]:
# to ensure there are no infinite or Nan values
df.replace([np.inf, -np.inf], np.nan, inplace=True)
df.dropna(axis ='index' , inplace = True )

In [188]:
test_df.head()

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,night_charges
0,-73.973320,40.763805,-73.981430,40.743835,1,0
1,-73.986862,40.719383,-73.998886,40.739201,1,0
2,-73.982524,40.751260,-73.979654,40.746139,1,0
3,-73.981160,40.767807,-73.990448,40.751635,1,0
4,-73.966046,40.789775,-73.988565,40.744427,1,0

In [189]:
# converting our data into np arrays for further processing

columns_without_target = [column for column in df.columns if column != 'fare_amount']
X_train = np.array(df[columns_without_target])
y_train = np.array(df["fare_amount"])
X_test = np.array(test_df)

#### Model 1: Gradient Boosting Regressor: Score = 3.88476

In [190]:
# setting up the model

reg = GradientBoostingRegressor(n_estimators = 500 )
reg.fit(X_train, y_train)

GradientBoostingRegressor(n_estimators=500)

In [191]:
# prediciting on test data
y_pred = reg.predict(X_test)

In [193]:
# creating the predicitions dataframe for easy convertion to csv

predictions = []
for i in range(len(keys)):
    predictions.append([keys[i] , y_pred[i]])

predictions = np.array(predictions)

pred_df = pd.DataFrame(predictions , columns = ['key' , 'fare_amount'])
pred_df

                              key         fare_amount
0     2015-01-27 13:08:24.0000002   7.544727327018277
1     2015-01-27 13:08:24.0000003    8.04812300768784
2     2011-10-08 11:53:44.0000002  6.5466534063335935
3     2012-12-01 21:12:12.0000002   8.157517999053074
4     2012-12-01 21:12:12.0000003  14.840991576462379
...                           ...                 ...
9909  2015-05-10 12:37:51.0000002  7.7051055273120514
9910  2015-01-12 17:05:51.0000001   7.332029721889704
9911  2015-04-19 20:44:15.0000001  47.588115488004114
9912  2015-01-31 01:05:19.0000005  21.017202310349845
9913  2015-01-18 14:06:23.0000006   7.750538823362611

[9914 rows x 2 columns]

In [194]:
# converting to csv file
pred_df.to_csv('GradientBoostingRegressor.csv' , columns = ['key' , 'fare_amount'] , header = ['key' , 'fare_amount'] , index = False)

####  Model 2: KNN regressor: Score = 3.89869

In [208]:
model = neighbors.KNeighborsRegressor(n_neighbors = 7)
model.fit(X_train, y_train)  #fit the model
y_pred=model.predict(X_test)

In [209]:
# creating the predicitions dataframe for easy convertion to csv

predictions = []
for i in range(len(keys)):
    predictions.append([keys[i] , y_pred[i]])

predictions = np.array(predictions)

pred_df = pd.DataFrame(predictions , columns = ['key' , 'fare_amount'])
pred_df

                              key         fare_amount
0     2015-01-27 13:08:24.0000002   8.585714285714285
1     2015-01-27 13:08:24.0000003   9.885714285714286
2     2011-10-08 11:53:44.0000002   5.228571428571429
3     2012-12-01 21:12:12.0000002   7.442857142857143
4     2012-12-01 21:12:12.0000003  16.271428571428572
...                           ...                 ...
9909  2015-05-10 12:37:51.0000002                 9.5
9910  2015-01-12 17:05:51.0000001   8.557142857142855
9911  2015-04-19 20:44:15.0000001  54.208571428571425
9912  2015-01-31 01:05:19.0000005  14.757142857142858
9913  2015-01-18 14:06:23.0000006   6.514285714285714

[9914 rows x 2 columns]

In [210]:
# converting to csv file
pred_df.to_csv('KNearestNeighboursRegressor.csv' , columns = ['key' , 'fare_amount'] , header = ['key' , 'fare_amount'] , index = False)

### Report

Models that worked: GradientBoosting Regressor (n_estimators = 500), KNN Regressor(k = 7)

Other models that were Tried: LinearSVR , GradientBoosting Regressor(n_estimators = 200), RandomForestRegressor

<u>Gradient Boosting Regressor(n_estimators = 500)</u>: Score = 3.88476

As the number of estimators increase, the performance of the Gradient Boosting regressor improves because it is robust to over fitting. Also, the Gradient Boosting regressor combines various models, each improving on the performance of its predeccesor, which leads to better performance in general.

<u>KNN regressor(K = 7)</u>: Score = 3.89869

The KNN regressor worked pretty well because of the similar scales of data, and the similarity in the column features. Since the longitudes and latitudes can be used to relate distance on similar scales, the KNN regressor picked it up pretty well, as compared to Random forests, where the precision in longitudes and latitudes can cause some differences.