In [40]:
import numpy as np
import pandas as pd
import pymc3 as pm
import arviz as az
import theano.tensor as tt
import scipy as sp
from scipy import stats
import warnings
warnings.filterwarnings('ignore')

In [41]:
# getting the data

data = pd.read_csv('cleaned_data.csv' , sep = ' ' , header = None)
data

     0  1  2  3  4
0    0  0  0  0  0
1    0  0  0  0  0
2    0  0  0  0  0
3    0  0  0  0  1
4    0  0  0  0  1
..  .. .. .. .. ..
995  1  1  1  1  1
996  1  1  1  1  1
997  1  1  1  1  1
998  1  1  1  1  1
999  1  1  1  1  1

[1000 rows x 5 columns]

In [42]:
data_matrix = []

for row in data.iterrows():
    data_matrix.append(list(row[1].values))

data_matrix = np.array(data_matrix)
data_matrix

array([[0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       ...,
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [43]:
score_per_question = np.sum(data, axis = 0)
score_per_student = np.sum(data, axis = 1)

In [44]:
# define some constants according to the constraints in the question
N = 1000
Q = 5

In [49]:
mu_alpha = score_per_student.sum() / (N*Q)
mu_beta = score_per_question.sum() / (N*Q)
mu_theta = -mu_beta

In [155]:
alpha = [np.random.normal(mu_alpha, 1) for i in range(Q)]
beta = np.random.normal(mu_beta, 0.5)
theta = [np.random.normal(mu_theta, 1) for i in range(N)]

In [160]:
# we shall try to make predictions now and calculate the error using Hamming distance
error = 0

for i in range(1000):
    for j in range(5):
        linear_term = beta * theta[i] - alpha[j]
        prob = np.exp(linear_term) / (1 + np.exp(linear_term))
        if prob > 0.5:
            term = 1
        else:
            term = 0
        if term != data_matrix[i][j]:
            error += 1

print("Using Variational Inference, the error is {} , resulting in an accuracy of {}".format(error , 100 - (error/5000*100)))

Using Variational Inference, the error is 2677 , resulting in an accuracy of 46.46

In [161]:
print(alpha)

[-0.7995003277090666, -1.168900117018791, -0.5316030596996173, -1.5011606087486762, 0.619288382877037]

In [162]:
print(beta)

1.1227103128297702